---
layout: frontpage
title: Template Site
---
  <section class="intro">
     <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
            <!--<div class="transparent-background">-->
                {% markdown frontpage/intro-heading.md %}
                {% markdown frontpage/intro-subheading.md %}
                {% markdown frontpage/intro-list.md %}
              <div class="page-scroll"> <a href="#section-1" class="btn btn-circle">
                  <i class="fa fa-angle-double-down"></i> </a> </div>
             <!--</div><!-- Transparent Background -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="section-1" class="section-1 content-section text-center vertical-padding">
      <div class="row">
      	<div class="container">
      	<!-- Alt layout <div class="col-lg-5 col-sm-6 col-xs-6"></div>
      	<div class="col-lg-5 col-lg-offset-2 col-sm-6 col-xs-6"></div>-->
        <div class="col-lg-8 col-lg-offset-2 transparent-background cw-big-padding">
        	   {% markdown frontpage/section-1.md %}
          <!--<img class="img-responsive" src="assets/images/img1.jpg" alt="">-->
          <div class="page-scroll"><a href="#section-2" class="btn btn-circle"><i class="fa fa-angle-double-down"></i></a></div>
         </div>
         </div>
      </div>
    </section>

    <section id="section-2" class="section-2 content-section text-center vertical-padding">
        <div class="container">
          <div class="col-lg-8 col-lg-offset-2 transparent-background cw-big-padding">
              {% markdown frontpage/section-2-heading.md %}
              {% markdown frontpage/section-2.md %}
           	<div id="grid">
						<div class="thumbnail">
					      {% markdown frontpage/modal-1-thumbnail-title.md %}
							<a id="modal-1" href="#modal-container-1" data-toggle="modal"><img src="assets/images/modal-1-thumbnail.jpg"></a>
							<div class="modal fade" id="modal-container-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
											<h3 class="modal-title" id="myModalLabel">
											   {% markdown frontpage/modal-1-title.md %}
											</h3>
										</div>
										<div class="modal-body">
											<!--<div class="thumbnail">-->
												<img class="img-responsive" alt="log splitter" src="assets/images/modal-1-main.jpg">
												<div class="caption">
													{% markdown frontpage/modal-1.md %}
												</div>
											<!--</div>-->
										</div>
										<div class="modal-footer">
											 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											 <button type="button" class="btn btn-default" data-dismiss="modal" id="modal-2" href="#modal-container-2" data-toggle="modal">Details</button>
										</div>
									</div>
								</div>
							</div>
						</div><!-- End Thumbnail -->
		            <div class="thumbnail">
		               {% markdown frontpage/modal-2-thumbnail-title.md %}
		            <a id="modal-2" href="#modal-container-2" data-toggle="modal"><img src="assets/images/modal-2-thumbnail.jpg"></a>
						<div class="modal fade" id="modal-container-2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
										<h3 class="modal-title" id="myModalLabel">
										    {% markdown frontpage/modal-2-title.md %}
										</h3>
									</div>
									<div class="modal-body">
										<!--<div class="thumbnail">-->
											<img class="img-responsive" alt="log splitter" src="assets/images/modal-2-main.jpg">
											<div class="caption">
												{% markdown frontpage/modal-2.md %}
											</div>
										<!--</div>-->
									</div>
									<div class="modal-footer">
										 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								</div>

							</div>

						</div>
		            </div>
					</div><!-- Grid -->
				<a href="tel:+353870546722" class="mobile-tel click-phone btn btn-default btn-lg"><i class="fa fa-phone"></i>&nbsp;Click to Call</a>
            <div class="desktop-tel btn btn-default btn-lg"><i class="fa fa-phone"></i>&nbsp;Call: 012 345 6789</div>
	         <div class="page-scroll"> <a href="#section-3" class="btn btn-circle">
                  <i class="fa fa-angle-double-down"></i> </a> </div>
            </div>
        </div>
    </section>

    <section id="section-3" class="section-3 content-section text-center vertical-padding">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2 transparent-background cw-big-padding">
            {% markdown frontpage/section-3.md %}
            </div>
        </div>
    </section>

    <section id="section-4" class="section-4 content-section text-center vertical-padding">
        <div class="container">
	        <div class="col-lg-8 col-lg-offset-2 transparent-background cw-big-padding">
	        {% markdown frontpage/section-4.md %}
	        </div>
        </div>
        <ul class="list-inline banner-social-buttons">
          <li><a href="https://www.facebook.com/pages/Midwestfirewoodie" class="btn btn-default btn-lg">
          <i class="fa fa-twitter fa-fw"></i><span class="network-name">Facebook</span></a>
          </li>
        </ul></p>
        <a href="tel:+353870546722" class="mobile-tel click-phone btn btn-default btn-lg"><i class="fa fa-phone"></i>&nbsp;Click to Call</a>
        <div class="desktop-tel btn btn-default btn-lg"><i class="fa fa-phone"></i>&nbsp;Call Now: 012 345 6789</div>
    </section>
