<footer>
  <div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-inline">
          <li><a href="http://carawebs.com">Website by Carawebs</a> </li>
          <li class="footer-menu-divider">⋅</li>
          <li><a href="mailto:info@carawebs.com">Email Us</a> </li>
        </ul>
        <p class="copyright text-muted small">Copyright © carawebs. All Rights Reserved</p>
      </div>
    </div>
  </div>
</div>
   <!-- Custom JS -->
   <!--<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
   <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>-->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
   <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
   <script src="{{ site.baseurl }}/assets/js/grayscale.js"></script>
   <script src="http://localhost:35729/livereload.js"></script>
