<!--<div class="container">-->
        <div class="navbar navbar-header navbar-fixed-top page-scroll"> <button type="button" class="navbar-toggle"
            data-toggle="collapse" data-target=".navbar-main-collapse"> <i class="fa fa-bars"></i>
          </button>
          <div id="site_title"><a class="navbar-brand" href="#page-top">
              Cafe Style</a></div><a href="tel:+353870546722" class="mobile-tel header-tel"><i class="fa fa-phone"></i></a>

        <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
           <ul class="nav navbar-nav">
             <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
             <li class="hidden"> <a href="#page-top"></a> </li>
             <!--<li class="page-scroll"> <a href="#page-top">Home</a> </li>-->
             <li class="page-scroll"> <a href="#section-1">Section 1</a> </li>
             <li class="page-scroll"> <a href="#section-2">Section 2</a></li>
             <li class="page-scroll"> <a href="#section-3">Section 3</a></li>
             <li class="page-scroll"> <a href="#section-4">Section 4</a> </li>
             <li><a href="#">Call: 012 345 6789</a></li>
           </ul>
         </div>
        </div>
